@{
    var page = Model.Page;
}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>@page.Title</title>
  <meta name="description" content="@page.Excerpt">

  <link rel="stylesheet" type="text/css" href="@string.Join("/", page.BaseUrl, "css/themes/polar-bear/main.min.css")">
  <link rel="canonical" href="@page.Url.Replace("index.html", "")">
  <link rel="alternate" type="application/rss+xml" title="@page.Title" href="@string.Join("/", page.BaseUrl, "feed.xml")" />

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,700">
</head>
